<div id="templatemo_header_bottom">
    
            <div id="templatemo_search_box">
             </div>
</div>

<div id="templatemo_background_section_middle">
    <div class="templatemo_container">
     <div id="templatemo_content_area">
         <div class="templatemo_content">
             <h1>WELCOME TO OUR WEBSITE</h1>
             <p>This is a <a href="" target="_parent">FREE CSS template</a> provided by <a href="" target="_parent">templatemo.com</a> website. You may download, edit and use this template layout for your websites.</p>
           <p>Credit goes to <a href="" target="_blank">SmashingMagazine</a> for icons. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat.</p>
             <h2>OUR LATEST PRODUCTS</h2>
             
             <p><img alt="Car Image" src="..//assets/img/templatemo_thumb_1.jpg" /><span class="header">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span><br  />
             Curabitur mauris tortor, pretium condimentum, egestas ac, porta non, ligula. Sed semper, nisi sed dictum venenatis, eros est scelerisque ipsum, vel consectetur velit metus id pede. Vestibulum sed augue. Curabitur dapibus, enim nec porta tincidunt, tellus mi lacinia lectus, et malesuada risus justo quis augue. Nullam congue urna porttitor  arcu. Nulla risus.<a href="#"><img alt="more" src="..//assets/img/templatemo_more.jpg" class="more" /></a></p>
             <div class="clear"></div>
             <p><img alt="Car Image" src="..//assets/img/templatemo_thumb_2.jpg" /><span class="header">Praesent dolor. Sed eget quam vel turpis aliquet lobortis</span><br  />
             Donec sem pede, fringilla a, rutrum gravida, pellentesque eu, tortor. Etiam justo liberoMauris a nisl. Donec dui. Pellentesque habitant morbi tristique senectus et netus et malesuadaCurabitur mauris tortor, pretium condimentum, egestas ac, porta non, ligula.<a href="#"><img alt="more" src="..//assets/img/templatemo_more.jpg" class="more" /></a></p>
         </div> 
     </div><!--  End Of Content -->