*{
  margin: 0 auto;
  padding: 0;
}
body{
  margin: 0;
}
.chartCont{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
}
ul{
 list-style-type: none;
}
li{
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: 20px auto;
}
a{
  cursor: pointer;
}
.qunttity{
  width: 30px;
  height: 10px;
}
.deleat{
  width: 28px;
  height: 20px;
  margin: 0 auto;
}
button{
  width: 20px;
  height: 10px;
}