.chartCont{
    width: 60%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  min-height: 100vh;
}
.quantity-block {
  margin: auto;
  font-size: 20px;
}
.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
#quantity-num {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
}
