
<div  class="chartCont">
  <div id="chart">
    <nav>
      <ul>
        <li *ngFor="let chart of arr" 
         class="chartList"
         id="{{chart.id}}">
          <a><span><img src="{{chart.photo}}" alt="car"> </span> {{chart.model}}</a>
          <div>
            <button class="quantity-arrow-minus" (click)='quantityMinus(chart)'></button>
            <input [(ngModel)]='chart.quantity' (change)='totalChart(chart)' type='number' min="1" max="3">
            <button class="quantity-arrow-plus" (click)='quantityPlusp(chart)'></button>
          </div>
          <div class="deleat">
            <button (click)='delItem(chart)'></button>
          </div>
        </li>
      </ul>
    </nav>
    
  </div>
</div>

<div>
    <h3>{{total}} грн.</h3>
    <button (click)='clear()'></button>
</div>
<div>
  <button (click)='goToOrder()'></button>
</div>
