
<header>
        <div class="container">
                <a href="" class="logo"><img src="..//assets/img/f203b51e-3903-4bb3-bf4f-3a329314a98c_photo-resizer.ru.png"></a>
                <nav>
                    <ul>
                        <li><a href="">MAIN</a></li>
                        <li><a href="">SHOP</a></li>
                        <li><a href="">CONTACT</a></li>
    
                    </ul>
    
                </nav>
    
            </div>

</header>

<router-outlet>

</router-outlet>

<footer class="footer-distributed">

        <div class="footer-right">
                <i class="fa fa-facebook-square"></i>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <i class="fa fa-linkedin"></i>
            <a href="#"><i class="fab fa-github-square"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="#">Home</a>

                <a href="#">Blog</a>

                <a href="#">Pricing</a>

                <a href="#">About</a>

                <a href="#">Faq</a>

                <a href="#">Contact</a>
            </p>

            <p>Company Name &copy; 2015</p>
        </div>

    </footer>